.PokemonCard {
  width: 100%;
  height: 220px;
  object-fit: contain;
  position: relative;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

.PokemonCard_top {
  width: 100%;
  height: 45%;
  background-color: #e33d33;
}

.PokemonCard_mid {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.PokemonCard_bot {
  width: 100%;
  height: 45%;
  background-color: #ffffff;
}

.PokemonCard_image {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.5px solid #000000;
  margin: 30px 0px 10px;
}

.PokemonCard_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokemonCard_name {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.PokemonCard_favorite {
  width: 15px;
  height: 15px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
}