.SearchBar_container {
  /* width: 100%; */
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.SearchBar_input {
  width: 100%;
  max-width: 600px;
  height: 40px;
  border: 1px solid #203d76;
  border-radius: 9px;
  outline: none;
  font-size: 15px;
  color: #203d76;
  padding: 5px 10px;
}

.SearchBar_input::placeholder {
  color: #d4d4d4;
}
