/* Login */ 
.login{
  height: 100vh;
  background: linear-gradient(#0072A3, #0C5142);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  /* min-height: calc(100vh - 8.4rem); */
}

.login_container{
  /* min-height: 70rem; */
  max-width: 20rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 4rem;
  color: #ffffff;
  padding: 6rem 6.8rem 4rem;
}

.login_container h2{
  font-size: 2rem;
}

/* Inputs */
.login_container_form{
  display: flex;
  flex-direction: column;
}
.input{
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  height: 4rem;
}
::placeholder{
  color: #ffffff;
  font-size: 1.2rem;
}
.btn{
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding: 1.2rem 0;
  border-radius: 4rem;
  margin: 2rem 0 1rem 0;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
}

.login_container_register{
  font-size: 1.2rem;
}
/* .login_container_register a{
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}
.login_container_register a:hover{
  text-decoration: underline;
} */